{% extends "base.html" %}
{% load static %}

{% block body %}
<div id="home-over" class="home-over"></div>
    <h1 class="header pnd-24">Obuca I Odeca</h1>
    {% if messages%}
    <div class="card-cont">
        {% for m in messages %}
        <div class="message">{{ m }}</div>
        {% endfor %}
    </div>
    {% endif %}
<div class="card-cont">
    <!-- Card -->
    <div class="card">
            <div class="new-card-img">
                <img src="{% static 'images/new.png' %}" alt=“image”>
            </div>
            <div class="card-right">
                
                <div class="card-top">
                    <h1 class="card-header">
                        Dodaj Novi Artikal Odece
                    </h1>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                    {% for field in form %}
                    {% if field.errors %}
                    <div class="message">{{ field.errors }}</div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <form action="{% url 'kreiraj_odecu' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {{ form.as_p }}
                        {% endfor %}
                    <button type="submit" id="submit" class="btn btn-color">Dodaj Odecu</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
{% endblock %}